.searchbar {
  width: 60%;
  color: black;
  background-color: #c1d7e2;
  border: 3px solid #0d47a1;
  border-radius: 5%;
  padding: 0 2% 0 2%;
}
input {
  color: black;
}
input.form-control {
  color: #0f1010 ;
}
form mdb-icon {
  margin-top: 0.8vh;
}
