.searchbar {
  width: 60%;
  color: black;
  background-color: #c1d7e2;
  padding-left: 2%;
  padding-bottom: 3%;
}
cart {
  float: bottom;
  width: fit-content;
  height: fit-content;
}
input {
  color: black;
}
input.form-control {
  color: #0f1010 ;
}
form mdb-icon {
  margin-top: 0.8vh;
}
