links > li :first-child{
  padding-left: 2.5vw;
}
links > li:not(:first-child){
  padding-left: 35vw;
}
nav li a {
  width: 200px
}
links {
  justify-content: center;
}
mdb-navbar {
  height: fit-content;
}
div a {
  justify-content: center;
}
