.btn-addition {
  width: 10%
}
.big-group {
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.big-group input {
  height: inherit;
}
.title {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 1%;
}
.emptyButton {
  outline: none;
  border: none;
  background-color: transparent;
}
.color-blue {
  color: blue;
}
.color-red {
  color:red;
}
