<<div class="container-fluid">
  <h2 class="heading">Shopping cart</h2>
<table mdbTable>
  <thead>
  <tr>
    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
  </tr>
  </thead>
  <tbody>
  <tr mdbTableCol *ngFor="let p of products; let i = index">
    <td><app-product-view [product]="p" [image]="p.image" [thumbnail]="true"></app-product-view></td>
    <td> <a routerLink="/product/{{p.id}}"><h5 class="text-truncate-size">{{p ? p?.name : null}}</h5></a></td>
    <td><input type="number" [(ngModel)]="p.quantity" (change)="updateQuantity(p.id, i, $event)"/></td>
    <td>{{p.price.toFixed(2)}}</td>
    <td><button class="btn btn-outline-danger" (click)="remove(p.id)">remove</button></td>
    <td>$ {{(p.quantity * p.price).toFixed(2)}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Total</td>
    <td>${{totalPrice.toFixed(2)}}</td>
  </tr>
  </tbody>
</table>
  <button class="wide btn btn-outline-primary" *ngIf="products?.length > 0" (click)="orderConfirmation.show()">Order Products</button>

</div>
<div mdbModal #orderConfirmation="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Are you sure you want to Order these products: </h4>
      </div>
      <div *ngFor="let p of products" class="row" >
        <img class="small-thumb col-2" [src]="p.image">
        <p  class="text-primary col-10">{{p.name}}</p>
      </div>


      <div class="row confirmations">
        <a class="btn btn-outline-success col-6" (click)="this.order()">yes</a>
        <a class="btn btn-outline-danger col-6" (click)="orderConfirmation.hide()" >no</a>
      </div>
    </div>
  </div>
</div>
