@import url('https://fonts.googleapis.com/css?family=Poppins:800&display=swap');
img {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 0;
  margin-left: 4vw;
}
.card {
  font-family: 'Poppins', sans-serif;
  color: #393c3d;
  border-radius: 0;
  background-color: #c1d7e2;
}
mdb-card-header {
  background-color: white;
}
mdb-card-footer {
  background-color: #c1d7e2;
}
button.green {
  border-radius: 0;
}
