@import url('https://fonts.googleapis.com/css?family=Poppins:800&display=swap');
img {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 0;
  margin-left: 4vw;
}
div .card-header {
  outline-color: #00a9cc;
}
div .card {
  margin: 5%;
}
.text-truncate-size {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text-truncate-size:hover {
  text-overflow: revert;
  overflow: initial;
  white-space: initial;
}
