<div *ngIf="!thumbnail; else thumb">
  <div class="card">
    <div class="card-header">
      {{this.product?.category?.name}}
    </div>
    <div class="card-body row">
      <div class="col-lg-9 col-md-12 col-sm-12">
        <a routerLink="/product/{{product.id}}"><h5 class="text-truncate-size">{{product ? product?.name : null}}</h5></a>
        <p class="text-truncate-size">{{product?.company?.name}} | {{product?.bodyLocation?.name}}</p>
        <hr>
        <p>${{product?.price.toFixed(2)}}</p>
      </div>
      <div class="col-6"><img class="img-thumbnail" src="{{image}}" alt="Card image cap"></div>

    </div>
    <div class="card-footer">
      <button *ngIf="shoppingCartActive else notLoggedIn" class="btn btn-outline-primary" (click)="addToShoppingCart(product ? product.id : null)">
        <i class="fas fa-shopping-cart"></i>
        Add to shopping cart
      </button></div>
      <ng-template #notLoggedIn>
        <a class="btn btn-outline-primary shopping-cart-button" routerLink="/login">
          <i class="fas fa-shopping-cart"></i>
          Log in
        </a>
      </ng-template>
  </div>
</div>

<ng-template #thumb> <img src="{{image}}"></ng-template>

<div>

</div>
