<div *ngIf="!thumbnail ; else thumb">
  <mdb-card>
    <mdb-card-header>
      <mdb-card-title class="flex-center">{{this.product.category.name}}</mdb-card-title>
      <img class="img-thumbnail" src="{{image}}" alt="Card image cap">
    </mdb-card-header>
    <mdb-card-body>
      <mdb-card-title>
        <h4>{{truncate(product.name)}}</h4>
      </mdb-card-title>
      <mdb-card-text>{{product.company.name}} | {{product.body_location.name}}</mdb-card-text>
      <hr>
      <mdb-card-text>${{product.price.toFixed(2)}}</mdb-card-text>
    </mdb-card-body>
    <mdb-card-footer > <button class="btn green" (click)="addToShoppingCart(product.id)"><i class="fas fa-shopping-cart"></i> Add to shopping cart</button></mdb-card-footer>
  </mdb-card>
</div>

<ng-template #thumb> <img src="{{image}}"></ng-template>

<div>

</div>
