
<input class="form-control search" type="search" placeholder="search" [(ngModel)]="search">

<table mdbTable>
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">Category</th>
    <th scope="col">Body Location</th>
    <th scope="col">Company</th>
    <th scope="col">price</th>
    <th scope="col">image</th>
    <th scope="col">edit</th>
    <th scope="col">remove</th>
  </tr>
  </thead>
  <tbody>
  <tr mdbTableCol *ngFor="let p of products; let i = index">
    <td>{{p.id}}</td>
    <td>{{p.name}}</td>
    <td>{{p.category.name}}</td>
    <td>{{p.body_location.name}}</td>
    <td>{{p.company.name}}</td>
    <td>{{p.price}}</td>
    <td class="tableImage"><app-product-view [thumbnail]="true" [image]="p.image" [product]="p"></app-product-view></td>
    <td><button class="emptyButton btn " (click)="selectedProduct = p; edit.show()"><i class="fas fa-edit emptyButton blue"></i></button></td>
    <td><button class="emptyButton btn " (click)="selectedProduct = p; sure.show()"><i class="far fa-times-circle emptyButton red"></i></button></td>
  </tr>
  </tbody>
</table>

<div mdbModal #sure="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="sure.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Are you sure you want to delete: </h4>
        <h4> {{selectedProduct.name}}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="blue" class="waves-light" aria-label="Close" (click)="sure.hide(); " mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="red" class="relative waves-light" (click)="remove(selectedProduct.id); " mdbWavesEffect>I want to delete {{selectedProduct.name}}</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #edit="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="sure.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Are you sure you want to delete: </h4>
        <h4> {{selectedProduct.name}}</h4>
      </div>
      <div class="modal-body">
        <label>
          Id:
          <input class="form-control" type="number" value="{{selectedProduct.id}}" [(ngModel)]="selectedProduct.id">
        </label>
        <label>
          Name:
          <input class="form-control" type="text" value="{{selectedProduct.name}} " [(ngModel)]="selectedProduct.name">
        </label>
        <label>
          Category:
          <input class="form-control" type="text" value="{{selectedProduct.category.id}}" [(ngModel)]="selectedProduct.category.id">
          <input class="form-control" type="text" value="{{selectedProduct.category.name}}" [(ngModel)]="selectedProduct.category.name">
        </label>
        <label>
          Company:
          <input class="form-control" type="text" value="{{selectedProduct.company.id}}" [(ngModel)]="selectedProduct.company.id">
          <input class="form-control" type="text" value="{{selectedProduct.company.name}}" [(ngModel)]="selectedProduct.company.name">
        </label>
        <label>
          Body Location:
          <input class="form-control" type="text" value="{{selectedProduct.body_location.id}}" [(ngModel)]="selectedProduct.body_location.id">
          <input class="form-control" type="text" value="{{selectedProduct.body_location.name}}" [(ngModel)]="selectedProduct.body_location.name">
        </label>
        <label>
          <input type="image" class="form-control" value="{{selectedProduct.image}}" [(ngModel)]="selectedProduct.image">
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="edit.hide();" mdbWavesEffect>Close</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="update()" mdbWavesEffect>Save changes</button>
      </div>
    </div>
  </div>



<app-pagination [length]="products.length"></app-pagination>
