.big {
  width: 50%;
  height: 50%;
}
div .card {
  margin-top: 1%;
}
table {
  width: 100%;
  border: 5px grey;
  margin-top: 3%;
}
.text-danger-bold {
  color: red;
  font-weight: bold;
}
.text-primary-bold {
  color: #00a9cc;
  font-weight: bold;
}
.text-secondary-bold {
  color: blue;
  font-weight: bold;
  font-style: italic;
}
